<xf:title>
    {{ phrase('redis_info') }}
    {{ $redis.slaveId !== null ? phrase('redis_slave_x', {'i': $redis.slaveId} ) : '' }}
</xf:title>


<div class="block">
    <div class="block-container">
        <div class="block-body">
            <div class="block-row">

                <xf:if is="!{$redis}">
                    {{ phrase('redis_disabled') }}
                <xf:else/>

                    <xf:include template="SV_Redis_stats"/>

                </xf:if>
            </div>
        </div>
    </div>
</div>