<style>
.redis-replicas {
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: flex-start;
}
.redis-replicas .redis-info-item {
	flex-basis: 350px;
}
</style>

<div class="pairWrapper pairWrapper--spaced">
	<dl class="pairs pairs--columns">
		<dt>{{ phrase('redis_version') }}</dt>
		<dd>{$redis.redis_type} {$redis.redis_version}</dd>
	</dl>
	<dl class="pairs pairs--columns">
		<dt>{{ phrase('redis_phpredis') }}</dt>
		<dd>{{ $redis.phpredis ? $redis.phpredis : phrase('n_a') }}</dd>
	</dl>
	<dl class="pairs pairs--columns">
		<dt>{{ phrase('redis_serializer') }}</dt>
		<dd>{{ $redis.serializer }}</dd>
	</dl>

	<xf:if is="$redis.loading">
		{{ phrase('redis_loading') }}

	<xf:else/>

		<dl class="pairs pairs--columns">
			<dt>{{ phrase('redis_free_memory') }}</dt>
			<dd>{{ $redis.maxmemory ? (($redis.maxmemory - $redis.used_memory)|file_size) : phrase('unlimited') }}</dd>
		</dl>

		<dl class="pairs pairs--columns">
			<dt>{{ phrase('redis_used_memory') }}</dt>
			<dd>{$redis.used_memory|file_size}</dd>
		</dl>

		<dl class="pairs pairs--columns">
			<dt>{{ phrase('redis_peak_memory') }}</dt>
			<dd>{$redis.used_memory_peak|file_size}</dd>
		</dl>

		<dl class="pairs pairs--columns">
			<dt>{{ phrase('redis_max_memory') }}</dt>
			<dd>{$redis.maxmemory|file_size}</dd>
		</dl>
		
		<dl class="pairs pairs--columns">
			<dt>{{ phrase('redis_maxmemory_policy') }}</dt>
			<dd>{$redis.maxmemory_policy}</dd>
		</dl>

		<xf:if is="$redis.HasIOStats">
			<dl class="pairs pairs--columns">
				<dt>{{ phrase('redis_input_kbps') }}</dt>
				<dd>{$redis.instantaneous_input_kbps|number}</dd>
			</dl>
			<dl class="pairs pairs--columns">
				<dt>{{ phrase('redis_output_kbps') }}</dt>
				<dd>{$redis.instantaneous_output_kbps|number}</dd>
			</dl>
		</xf:if>

		<dl class="pairs pairs--columns">
			<dt>{{ phrase('redis_ops') }}</dt>
			<dd>{$redis.instantaneous_ops_per_sec|number}</dd>
		</dl>

		<xf:foreach loop="$redis.db" key="$i" value="$db">
			<dl class="pairs pairs--columns">
				<dt>{{ phrase('redis_db_x_keys', {'database': $i} ) }}</dt>
				<dd>{$db.keys|number}</dd>
			</dl>
            <xf:if is="$db.avg_ttl >= 0">
			<dl class="pairs pairs--columns">
				<dt>{{ phrase('redis_db_x_avg_ttl', {'database': $i} ) }}</dt>
				<dd>{$db.avg_ttl|number}</dd>
			</dl>
            </xf:if>
		</xf:foreach>

		<dl class="pairs pairs--columns">
			<dt>{{ phrase('redis_clients') }}</dt>
			<dd>{$redis.connected_clients|number}</dd>
		</dl>

		<xf:if is="$redis.replicas">
			<dl class="pairs pairs--columns">
				<dt>{{ phrase('redis_replicas') }}</dt>
				<dd>{{ count($redis.replicas) }}</dd>
			</dl>
		</xf:if>
	</xf:if>
</div>

<xf:if is="!$redis.loading && $redis.replicas">
	<div class="redis-info">
	<div class="redis-info-item replicas">
		<xf:foreach loop="$redis.replicas" key="$index" value="$replica">
			<div class="redis-info-item redis-replica redis-replica{$index}" data-replica="{$index}">
				<h3>
					<a href="{{ link('redis-info/replica', {'replica_id': $index, 'context': $context} ) }}" data-xf-click="overlay" data-cache="0">
						{{ phrase('redis_replica_x', {'i': $index} ) }}
					</a>
				</h3>

				<dl class="pairs pairs--columns pairs--fixedSmall">
					<dt>{{ phrase('redis_replica_address') }}</dt>
					<dd>{$replica.ip}:{$replica.port}</dd>
				</dl>
				<dl class="pairs pairs--columns pairs--fixedSmall">
					<dt>{{ phrase('redis_replica_lag') }}</dt>
					<dd>{$replica.lag}</dd>
				</dl>
				<dl class="pairs pairs--columns pairs--fixedSmall">
					<dt>{{ phrase('redis_replica_state') }}</dt>
					<dd>{$replica.state}</dd>
				</dl>
			</div>
		</xf:foreach>
	</div>
	</div>
</xf:if>