<xf:title>
    {{ phrase('redis_info') }}<xf:if is="$cacheContext"> - {$cacheContext}</xf:if>
    {{ $redisReplicaId !== null ? ($cacheContext ? ' - ' : '' ) . phrase('redis_replica_x', {'i': $redisReplicaId} ) : '' }}
</xf:title>


<div class="block">
    <div class="block-container">
        <div class="block-body">
            <div class="block-row">

				<xf:set var="$redisInstance" value="{{ $redis.{$cacheContext} }}" />
                <xf:if is="!{$redisInstance}">
                    {{ phrase('redis_disabled') }}
                <xf:else/>

                    <xf:include template="svRedisStats">
						<xf:map from="$redisInstance" to="$redis" />
						<xf:map from="$cacheContext" to="$context" />
					</xf:include>

                </xf:if>
            </div>
        </div>
    </div>
</div>